<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h3>Nueva pelicula</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="formMovie" (ngSubmit)="createMovie()" autocomplete="off">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input formControlName="name" [class.is-invalid]="nameInvalid" class="form-control"
                                type="text" placeholder="Nombre">
                            <div class="invalid-feedback">
                                Nombre debe tener al menos 3 letras
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Descripción</label>
                            <input formControlName="description" [class.is-invalid]="descriptionInvalid"
                                class="form-control" type="text" placeholder="Descripción">
                            <div class="invalid-feedback">
                                Imagen debe tener al menos 3 letras
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Imagen URL</label>
                            <input formControlName="image" [class.is-invalid]="imageInvalid" class="form-control"
                                type="text" placeholder="Imagen URL">
                            <div class="invalid-feedback">
                                Imagen debe tener al menos 3 letras
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Actores</label>
                            <input formControlName="actors" [class.is-invalid]="actorsInvalid" class="form-control"
                                type="text" placeholder="Reparto">
                            <div class="invalid-feedback">
                                Actores reparto debe tener al menos 3 letras
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Género</label>
                            <input formControlName="genderId" [class.is-invalid]="genderIdInvalid" class="form-control"
                                type="text">
                            <div class="invalid-feedback">
                                Debe seleccionar un genero
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Fecha de estreno</label>
                            <input formControlName="releaseDate" [class.is-invalid]="releaseDateInvalid"
                                class="form-control" type="date">
                            <div class="invalid-feedback">
                                Debe seleccionar una fecha
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>